<a href="https://colab.research.google.com/github/priyanshgupta1998/Natural-language-processing-NLP-/blob/master/Black_offer_Assignment/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/My Drive/Data Science'
import os
import pandas as pd
print(os.listdir(path))

['Objective.docx', 'cik_list.xlsx', 'Text Analysis.docx', 'Output Data Structure.xlsx', 'uncertainty_dictionary.xlsx', 'constraining_dictionary.xlsx']

In [7]:
file1 = path + '/cik_list.xlsx'
cik = pd.read_excel(file1)
print(cik.shape)
cik.head()

(152, 6)

    CIK            CONAME  ...     FORM                                  SECFNAME
0  3662  SUNBEAM CORP/FL/  ...  10-K405  edgar/data/3662/0000950170-98-000413.txt
1  3662  SUNBEAM CORP/FL/  ...     10-Q  edgar/data/3662/0000950170-98-001001.txt
2  3662  SUNBEAM CORP/FL/  ...  NT 10-Q  edgar/data/3662/0000950172-98-000783.txt
3  3662  SUNBEAM CORP/FL/  ...   10-K/A  edgar/data/3662/0000950170-98-002145.txt
4  3662  SUNBEAM CORP/FL/  ...  NT 10-Q  edgar/data/3662/0000950172-98-001203.txt

[5 rows x 6 columns]

In [0]:
cik['SECFNAME_link'] = cik['SECFNAME'].apply(lambda x:'https://www.sec.gov/Archives/' + str(x) )

In [14]:
cik.head()

    CIK  ...                                      SECFNAME_link
0  3662  ...  https://www.sec.gov/Archives/edgar/data/3662/0...
1  3662  ...  https://www.sec.gov/Archives/edgar/data/3662/0...
2  3662  ...  https://www.sec.gov/Archives/edgar/data/3662/0...
3  3662  ...  https://www.sec.gov/Archives/edgar/data/3662/0...
4  3662  ...  https://www.sec.gov/Archives/edgar/data/3662/0...

[5 rows x 7 columns]

In [0]:
# for i in range(5):
#   print(list(cik['SECFNAME_link'])[i])

In [9]:
file2 = path + '/uncertainty_dictionary.xlsx'
uncertain = pd.read_excel(file2)
print(uncertain.shape)
uncertain.head()

(297, 1)

          Word
0     ABEYANCE
1    ABEYANCES
2       ALMOST
3   ALTERATION
4  ALTERATIONS

In [10]:
file4 = path + '/constraining_dictionary.xlsx'
constrain = pd.read_excel(file4)
print(constrain.shape)
constrain.head()

(184, 1)

      Word
0    ABIDE
1  ABIDING
2    BOUND
3  BOUNDED
4   COMMIT

In [11]:
file3 = path + '/Output Data Structure.xlsx'
output = pd.read_excel(file3)
print(output.shape)
output.head()

(0, 49)

Empty DataFrame
Columns: [CIK, CONAME, FYRMO, FDATE, FORM, SECFNAME, mda_positive_score, mda_negative_score, mda_polarity_score, mda_average_sentence_length, mda_percentage_of_complex_words, mda_fog_index, mda_complex_word_count, mda_word_count, mda_uncertainty_score, mda_constraining_score, mda_positive_word_proportion, mda_negative_word_proportion, mda_uncertainty_word_proportion, mda_constraining_word_proportion, qqdmr_positive_score, qqdmr_negative_score, qqdmr_polarity_score, qqdmr_average_sentence_length, qqdmr_percentage_of_complex_words, qqdmr_fog_index, qqdmr_complex_word_count, qqdmr_word_count, qqdmr_uncertainty_score, qqdmr_constraining_score, qqdmr_positive_word_proportion, qqdmr_negative_word_proportion, qqdmr_uncertainty_word_proportion, qqdmr_constraining_word_proportion, rf_positive_score, rf_negative_score, rf_polarity_score, rf_average_sentence_length, rf_percentage_of_complex_words, rf_fog_index, rf_complex_word_count, rf_word_count, rf_uncertainty_score, rf_constraining_score, rf_positive_word_proportion, rf_negative_word_proportion, rf_uncertainty_word_proportion, rf_constraining_word_proportion, constraining_words_whole_report]
Index: []